extends ../layout

block styles
  != css("risk_management/risk_style")

block scripts
  != js("risk_management/application")

block navigation
  li
    a(href="#/metacategories", id="parent-categories") Meta Categories
    ul.submenu
      li
        a(href="#/metacategories/new") New Meta Category
  li
    a(href="#/categories", id="categories") Categories
    ul.submenu
      li
        a(href="#/categories/new") New Category
  li
    a(href="#/texts", id="texts") Texts
    ul.submenu
      li
        a(href="#/texts/new") New Text
  li
    a(href="#/probabilities") Probabilities
    ul.submenu
      li
        a(href="#/probabilities/new") New Probability

block content
  h1#page-title= title
  #main-container
    #main-view

block template-scripts
  include categories/includes/templates
  include metacategories/includes/templates
  include texts/includes/templates
  include probabilities/includes/templates