extends ../layout

block styles
  != css("risk_management/risk_style")

block scripts
  != js("application")

block navigation
  li
    a(href="#/risks", id="risks") Risks
    ul.submenu
      li
        a(href="#/risks/new") New Risk
  li
    a(href="#/metacategories", id="parent-categories") Meta Categories
    ul.submenu
      li
        a(href="#/metacategories/new") New Meta Category
  li
    a(href="#/categories", id="categories") Categories
    ul.submenu
      li
        a(href="#/categories/new") New Category

block content
  #main-container
    #main-view

block template-scripts
  include categories/includes/templates
  include metacategories/includes/templates
  include texts/includes/templates
  include risks/templates
  include shared/templates