extends ../layout

block scripts
  != js("jquery-1.8.0.min")
  != js("underscore-min")
  != js("backbone-min")
  != js("application")

block content
  h1= title
  p Welcome to #{title}
  #container
    #category-form-container
    h4 Categories
    #category-container

block template-scripts
  script(type="text/template", id="category-template")
      td <%=title%>
      td <%=description%>
  include _form