extends ../../layout

block styles
  != css("risk_management/risk_style")

block scripts
  != js("risk_management/application")

block navigation
  li
    a(href="#/metacategories", id="parent-categories") Meta Categories
    ul.submenu
      li
        a(href="#/metacategories/new") New Meta Category
  li
    a(href="#/categories", id="categories") Categories
    ul.submenu
      li
        a(href="#/categories/new") New Category

block content
  h1#page-title= title
  #main-container
    #main-view

block template-scripts
  include includes/templates