extends ../../layout

block styles
  != css("risk_management/risk_style")

block scripts
  != js("risk_management/application")

block navigation
  li
    a(href="#parents", id="parent-categories") Meta Categories
  li
    a(href="#children", id="categories") Categories

block content
  h1= title
  #main-container
    #main-view

block template-scripts
  include includes/templates