doctype 5
html
  head
    title= title
    != css("style")
    block styles
    block scripts
  body
    block body-scripts
    #outer-wrapper
      header
        .logo
          h1= title
        nav
          ul.navigation
            block navigation
      block content
      
    block template-scripts
    block footer-scripts