doctype 5
html
  head
    title= newTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
    // [if lt IE 9]
      script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
  body
    #outer_wrapper
      header
        #top_area
        nav#top_menu
          include partials/_topmenu
      #content
        block content