doctype 5
html
  head
    title= title
    != css("style")
    block styles
    block scripts
  body
    #outer-wrapper
      nav
        ul.navigation
          li
            a(href="#parents", id="parent-categories") Parent Categories
          li
            a(href="#children", id="categories") Categories
      block content
      
    block footer-scripts
    block template-scripts