body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#outer_wrapper {
  width: 940px;
  margin: 0px auto;
}
a {
  color: #00b7ff;
}
ul.nav {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul.nav li {
  display: inline;
  margin-right: 10px;
}
ul.nav li a {
  text-decoration: none;
}
