body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#outer-wrapper
  width 940px
  margin 0px auto

nav ul.navigation
  list-style none
  padding 0px

nav ul.navigation li
  display inline
  margin-right 15px

table
  padding: 0px
  margin: 0px
  border-spacing: 0px

table td
table th
  padding 0px
  margin 0px