script(type="text/template", id="text-list-table-template")
  table.item_list#text_list
    thead
      tr
        th#text_title Text Title
        th#text_category Belongs to
        th#actionButtons
    tbody#text_list_content

script(type="text/template", id="text-list-tablerow-template")
  td#text_title <%= model.get('title') %>
  td#text_category <%= model.get('category').title %>
  td#actionButtons
    <a id="showMore" href="#/texts/<%= model.get('_id')%>"> Show more
    <a id="edit" href="#/texts/edit/<%= model.get('_id')%>"> Edit
    <a id="delete" href="#/texts/delete/<%= model.get('_id')%>"> Delete


script(type="text/template", id="text-detail-template")
  h3#text-title <%= model.get('title') %>
  p#text-description <%= model.get('description') %>
  .item_detail#category-detail <%= model.get('category').title %> <%= model.get('category').description %>