
table#risk_list tbody tr td#risk_description
table#risk_list thead tr th#risk_description
  width 300px

table#risk_list tbody tr td#risk_category
table#risk_list thead tr th#risk_category
  width 250px
