table#risk_list
  width 100%

table#risk_list thead tr th
  border-bottom #333 2px solid
  text-align left
  padding 5px 0px

table#risk_list tbody tr td
  padding 5px 0px
  vertical-align top
  border-bottom 1px #666 solid

table#risk_list tbody tr:last-child td
  border none

table#risk_list tbody tr td#risk_description
table#risk_list thead tr th#risk_description
  width 300px

table#risk_list tbody tr td#risk_category
table#risk_list thead tr th#risk_category
  width 250px

table#risk_list tbody tr td#actionButtons
table#risk_list thead tr th#actionButtons
  text-align right
  width 200px

table#risk_list tbody tr td#actionButtons a
  color #00b7ff
  padding-left 10px

table#risk_list tbody tr td#actionButtons a:hover
  text-decoration underline

//Form table

table#risk_form tr th
table#risk_form tr td
  border-top 1px solid #999
  padding 5px 0px

table#risk_form tr td
  width 350px

table#risk_form tr td input[type=text]
  width 302px
  line-height 18px
  padding 5px
  margin-left 5px

table#risk_form tr td textarea
  width 310px
  height 150px
  margin-left 5px

table#risk_form tr th
  text-align left
  vertical-align top

table#risk_form tr td button
  width 317px
  height 28px
  font-size 15px
  margin-left 5px
