table#risk_list
  width 100%

table#risk_list thead tr th
  border-bottom #333 2px solid
  padding 5px 0px

table#risk_list tbody tr td
  padding 5px 0px
  vertical-align top
  border-bottom 1px #666 solid

table#risk_list tbody tr:last-child td
  border none

table#risk_list tbody tr td#risk_description
table#risk_list thead tr th#risk_description
  width 300px

table#risk_list tbody tr td#risk_category
table#risk_list thead tr th#risk_category
  width 250px

table#risk_list tbody tr td#actionButtons
table#risk_list thead tr th#actionButtons
  text-align right
  width 200px

table#risk_list tbody tr td#actionButtons a
  padding-left 10px


//Form table

#form-container

table#risk_form
  width 100%
  margin-bottom 20px

table#risk_form tr td
  vertical-align top

table#risk_form tr td#category_name
  width 250px

table#risk_form tr td#category_name input
  width 240px

table#risk_form tr td#category_description textarea
  width 350px
  height 50px

table#risk_form tr td#category_parent
  width 200px

table#risk_form tr td#category_parent select
  width 100%

table#risk_form tr td#category_submit
  width 120px
  text-align right